@(title: String)(content: Html)(implicit session: play.api.mvc.Session)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <style>
    body {
        margin-top: 50px;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a id="titleLink" class="brand" href="/">@title</a>
                <ul class="nav">
                    @session.get("email").map { email =>
                        <li class="pull-right"><a href="/user/@email"><i class="icon-user"></i>@email</a></li>
                        <li class="pull-right"><a href="/logout"><i class="icon-off"></i>logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @content
    </div>
</body>
</html>
