@()(implicit session: play.api.mvc.Session)

@main("New Ticket"){

    <legend>New Ticket</legend>

    <div class="well">

        <div id="msg_center"></div>
        <br/>
        <div id="new_ticket">

            <label>Customer Id</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="customer_id" type="text" placeholder="Enter Valid Customer Id" />
                </span>
            </div>

            <label>Heading</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="heading" type="text" placeholder="Give a nice heading" />
                </span>
            </div>

            <label>Desc</label>
            <div class="row-fluid">
                <span class="span6">
                    <textarea id="desc" type="text" placeholder="Describe the problem"></textarea>
                </span>
            </div>

            <label>AssignTo (Optional)</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="assignedToId" type="text" placeholder="Enter Valid Id" />
                </span>
            </div>

            <button class="btn btn-default" onclick="ticketPost();">Submit</button>

        </div>

    </div>
}