@()(implicit session: play.api.mvc.Session)

@main("New Ticket"){

    <legend>New Ticket</legend>

    <div class="well">

        <div id="msg_center"></div>
        <br/>
        <div id="new_ticket">

            <label>User Id</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="user_id" type="text" placeholder="Enter Valid User Id" />
                </span>
            </div>

            <label>Heading</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="heading" type="text" placeholder="Give a nice heading" />
                </span>
            </div>

            <label>Desc</label>
            <div class="row-fluid">
                <span class="span6">
                    <textarea id="desc" type="text" placeholder="Describe the problem"></textarea>
                </span>
            </div>

            <label>AssignTo (Optional)</label>
            <div class="row-fluid">
                <span class="span6">
                    <input id="assignToId" type="text" placeholder="Enter Valid Id" />
                </span>
            </div>

            <button id="new_ticket_submit" class="btn btn-default">Submit</button>

        </div>

    </div>
}